<template>
  <q-page>
    <h3 class="text-weight-light text-center">{{ message }}</h3>
  </q-page>
</template>


<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      message: 'users/message',
    }),
  },
  methods: {
    ...mapActions({
      getMessage: 'users/getMessage',
    }),
  },
  created() {
    this.getMessage();
  },
};

</script>
