<template>
  <q-page class="flex flex-center">
    <div class="container">
      <q-input float-label="Email" type="email" v-model="userEmail" autofocus="true"/>
      <q-input type="password" float-label="Senha" v-model="userPassword" />

      <q-btn flat
        class="q-my-xl full-width"
        color="primary"
        size="lg"
        label="Entrar"
        @click="login()"/>

      <router-link to="/signup">
        <a>Cadastrar</a>
      </router-link>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'LoginPage',
  data() {
    return {
      userEmail: '',
      userPassword: '',
    };
  },
  methods: {
    ...mapActions({
      userLogin: 'users/login',
    }),
    login() {
      const user = {
        email: this.userEmail,
        password: this.userPassword,
      };

      this.userLogin(user).then(() => {
        this.$router.push({ path: '/' });
      });
    },
  },
};
</script>
