<template>
  <q-page class="flex flex-center">
    <div class="container">
    <h4 class="text-weight-light text-center">
    Faça o seu cadastro!
    </h4>
    <q-input v-model="userName"
      float-label="Nome"
      placeholder="Digite seu nome" />

    <q-input v-model="userEmail"
      float-label="Email"
      placeholder="Digite seu email" />

    <q-input v-model="userPassword"
      type="password"
      float-label="Senha" />


    <q-btn
      class="q-my-xl full-width"
      label="Cadastrar"
      @click="createUser()" />

    <router-link to="/login">
      <a>Login</a>
    </router-link>

    </div>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      opened: false,
      userName: '',
      userEmail: '',
      userPassword: '',
    };
  },
  methods: {
    ...mapActions({
      create: 'users/createUser',
    }),
    createUser() {
      const user = {
        name: this.userName,
        email: this.userEmail,
        password: this.userPassword,
      };

      this.create(user).then(() => {
        this.$router.push({ path: '/login' });
      });
    },
  },

};
</script>
